main {
	display: flex;
	margin: 100px 0;
}

main .right-side {
	width: 700px;
}
main .right-side h1 {
	margin-bottom: 50px;
}

main .left-side img {
	width: 600px;
	height: 600px;
}

@media (max-width: 700px) {
	main .right-side {
		width: 100%;
	}
	main .left-side {
		display: none;
	}
}
